version: '3.9'

services:
  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - '4000:4000'
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped

  ui:
    container_name: ui
    build:
      context: ./ui
    ports:
      - '3050:3050'
    env_file:
      - ./ui/.env
    volumes:
      - ./ui:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: unless-stopped
