:root {
  --navigation: #feffff;
  --secondary: #4f46e5;
  --main-gradient: linear-gradient(to bottom right, #6366f1, #9333ea);
  --background: #f5f6fa;
  --text: #2d3436;
  --transition: all 0.3s ease;
  font-family: system-ui, -apple-system, sans-serif;

  --background-image: radial-gradient(
      circle at 35% 65%,
      rgba(147, 51, 234, 0.45) 0%,
      rgba(147, 51, 234, 0.1) 20%,
      transparent 45%
    ),
    radial-gradient(
      circle at 65% 35%,
      rgba(79, 70, 229, 0.45) 0%,
      rgba(79, 70, 229, 0.1) 20%,
      transparent 45%
    );
}

/* dark mood */
body.dark-mode {
  --navigation: #060b17;
  --background: #020617;
  --text: #dfe6e9;
  --transition: all 0.3s ease;
  font-family: system-ui, -apple-system, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  overflow: hidden;
}

.button-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .button-group {
    flex-direction: column;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: var(--transition);
  cursor: pointer;
  border: none;
  width: fit-content;
}

.button-primary {
  background: var(--main-gradient);
  color: white;
}

.button-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 20px rgba(9, 132, 227, 0.3);
}

.button-outline {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.button-outline:hover {
  background: var(--secondary);
  color: white;
}
